.login-wrapper {
    width: 50%;
    background-color: #f6f6f6;
    padding: 40px;
    text-align: center;
}

.login-title {
    margin-bottom: 30px;
}

.btn-login {
    width: 100%;
    background-color: #1E5180;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 8px 0;
}