@import "../../../../assets/styles/foundation/helpers/bem";

@include bem-b('widget-container') {
    display: inline-block;
    border: 1px solid #cbcbcb;
    min-height: 250px;
    min-width: 400px;
    font-size: 13px;
    margin: 0;
}