doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title React/Dedux Demo
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css")
    body
        #app
        script(type='text/javascript').
            window.__INITIAL_STATE__ = !{JSON.stringify(initialState)};
        script(src='/js/app.js')
