@import "../../assets/styles/foundation/helpers/bem";

@include bem-b('widget-header-wrapper') {
    background-color: #1E5281;
    padding: 5px 15px;
    width: 100%;

    position: absolute;
    top: 0px;
    left: 0px;

    @include bem-e('title') {
        float: left;
        font-weight: bold;
        color: #fff;
    }

    @include bem-e('option') {
        float: right;
        color: #fff;

         @include bem-e('center') {
             margin: 0 10px;
         }
    }
}