@import '../../../../assets/styles/foundation/helpers/bem';

@include bem-b('list') {
    @include bem-e('container') {
        width: 100%;
        list-style-type: none;
        padding: 0;
        margin: 7px 0 0 0;
    }
}