@import "../../../assets/styles/foundation/helpers/bem";

@include bem-b('plus-icon') {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    color: #767676;
    background-color: #EEEFF0;
    text-align: center;
    font-size: 200px;
}

@include bem-b('plus-icon:hover') {
    cursor: pointer;
}

@include bem-b('setting') {
    padding: 10px 15px;

    @include bem-e('header') {
        display: block;
        width: 100%;
        border-bottom: 2px solid #245380;
        margin-bottom: 15px;

        @include bem-e('inputgroup') {
            display: inline-block;
            width: 100%;
            padding: 0 !important;

            @include bem-e('left') {
                width: 50%;
                display: inline-block;
                padding: 0 2px;
            }

            @include bem-e('middle') {
                width: 25%;
                display: inline-block;
                padding: 0 2px;
            }

            @include bem-e('right') {
                width: 25%;
                display: inline-block;
                padding: 0 2px;
            }
        }
    }
}