@import "../../assets/styles/foundation/helpers/bem";

@include bem-b('dashboard') {
    @include bem-e('title') {
        display: block;
        width: 100%;
        padding: 0 15px 5px 15px;
        border-bottom: 2px solid #245380;

        @include bem-e('header') {
            display: inline-block;
            font-weight: bold;
            color: #245380;
        }

        @include bem-e('buttons') {
            display: inline-block;
            float: right;
        }
    }

    @include bem-e('components') {
        display: block;
        padding-top: 10px;
    }
}
