@import "../../assets/styles/foundation/helpers/bem";

@include bem-b('dashboard') {
    @include bem-e('title') {
        display: block;
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 1px solid #dddddd;

        @include bem-e('header') {
            display: inline-block;
        }

        @include bem-e('buttons') {
            display: inline-block;
            float: right;
        }
    }

    @include bem-e('components') {
        display: flex;
    }
}
