@import "../../../../assets/styles/foundation/helpers/bem";

@include bem-b('widget-header-wrapper') {
    background-color: #1E5281;
    padding: 5px 15px;

    @include bem-e('title') {
        display: inline-block;
        font-weight: bold;
        color: #fff;
    }

    @include bem-e('option') {
        display: inline-block;
        float: right;
        color: #fff;

         @include bem-e('center') {
             margin: 0 10px;
         }
    }
}