@import "../../../../assets/styles/foundation/helpers/bem";

@include bem-b('widget-header-wrapper') {
    color: white;
    background-color: #245380;
    border-color: #245380;
    padding: 5px 10px;
    border-bottom: 1px solid transparent;

    @include bem-e('title') {
        display: inline-block;
        font-weight: bold;
        color: #fff;
    }

    @include bem-e('option') {
        display: inline-block;
        float: right;
        color: #fff;

         @include bem-e('center') {
             margin: 0 10px;
         }
    }
}